@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
body{
    font-family: sans-serif;
    color: #1c1c1c
}

h1, h2, h3 {
    font-family: sans-serif;
    color:rgba(0, 1, 40, 0.946)
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #242424;

}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 800;
    font-size: 25px;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;

}

nav ul li {
    text-align: center;
    width: 100%;

}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: #ffffff
}

.logo-title{
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 40px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/code03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 40px;
    padding-top: 90px;
    padding-bottom: 90px;
}

header p {
    border: solid 1px;
    color: #ffffff;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.748);
    
}

header h1{
    color: #1c1c1c;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}