@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
/* ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* NAVIGATION BAR */
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar {
  padding: 30px 0;
  /* background: dodgerblue; */
  width: 100%;
  z-index: 999;
  position: fixed;
  font-family: "Ubuntu", sans-serif;
  transition: all ease 0.3s;
}
.navbar.sticky {
  padding: 8px 0;
  background: dodgerblue;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: dodgerblue;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: rgb(255, 255, 255);
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  /* The mouse change color while moviment*/
  transition: color 0.3s ease;
}

.navbar .menu li a img {
  margin-bottom: -2px;
  width: 20px;
  height: 20px;
  transition: all ease 0.3s;
}

.navbar .menu li a img:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 dodgerblue);
}

/* Color of effetc the mouse */
.navbar .menu li a:hover {
  color: dodgerblue;
}
.navbar.sticky .menu li a:hover {
  color: rgb(221, 221, 221);
}

/* Menu Button Styling */

.menu-btn {
  color: #ffff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: dodgerblue;
  right: 30px;
  bottom: 30px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 999;
  font-size: 30px;
  border-radius: 7px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

/* HOME SECTION */

.home {
  color: #fff;
  display: flex;
  background: url("./assets/code03.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 108.9vh;
  min-height: 500px;
  font-family: "Ubuntu" sans-serif;
}

.home .max-width {
  width: 100%;
  display: flex;
}
.home-content {
  font-family: "Ubuntu", sans-serif;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: dodgerblue;
  font-weight: 600;
}

.home .home-content a {
  display: inline-block;
  background: dodgerblue;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid dodgerblue;
  transition: all ease 0.3s;
  font-weight: 200;
}

.home .home-content a:hover {
  color: dodgerblue;
  background: none;
}
/* General Styling */

section {
  font-family: "Poppins", sans-serif;
  padding: 100px 0;
}

section .title {
  position: relative;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: dodgerblue;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  font-size: 20px;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
/* About Section Styling */

.about {
  background: rgb(255, 255, 255);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: -50px;
  font-family: "Poppins", sans-serif;
}

.about .title::after {
  content: "Who i am";
}

.about .about-content,
.services .serv-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .right {
  width: 55%;
}

.about .about-content .left img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 15px;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
}

.about .about-content .right .text span {
  color: dodgerblue;
}
.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: dodgerblue;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid dodgerblue;
  transition: all ease 0.3s;
  font-weight: 200;
}
.about .about-content .right a:hover {
  color: dodgerblue;
  background: none;
}

/* Services Styling  */

.services {
  color: #fff;
  background: #191919;
  font-family: "Poppins", sans-serif;
}

.services .title::before {
  background: dodgerblue;
}
.services .title::after {
  content: "What i do ?";
  background: #191919;
}

.services .serv-content .card {
  height: 230px;
  width: calc(33% - 20px);
  background: #252525;
  text-align: center;
  border-radius: 9px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services .serv-content .card:hover {
  background: rgb(20, 87, 155);
  color: #fff;
}

.services .serv-content .card .box {
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
  transition: all 0.3s ease;
  transform: scale(1.05);
}
.services .serv-content .card i {
  transition: all 0.3s ease;
  font-size: 40px;
  color: dodgerblue;
}
.services .serv-content .card :hover i {
  color: #fff;
}
.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}
.services .services-button {
  display: inline-block;
  background: #292929;
  margin: 0px 0px;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border: 2px solid #292929;
  border-radius: 6px;

  transition: all ease 0.3s;
  font-weight: 200;
}
.services .services-button:hover {
  border: 2px solid dodgerblue;
  color: dodgerblue;
  background: none;
}
.services .button.wrapp {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
}

/* Skills styling */

.skills {
  font-family: "Poppins", sans-serif;
}
.skills .title::after {
  content: "What i know";
  background: #ffffff;
}
.skills .skills-content .left p {
  text-align: justify;
}
.skills .skills-content .left a {
  display: inline-block;
  background: dodgerblue;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 7px;
  border: 2px solid dodgerblue;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
  background: none;
  color: dodgerblue;
  transition: all 0.3s ease;
}
.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .left .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .skills-content .right .bars {
  margin-bottom: 15px;
}

.skills .skills-content .right .info {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  justify-content: space-between;
}
.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}
.skills .skills-content .right .line {
  border-radius: 15px;
  height: 5px;
  width: 100%;
  background: slategrey;
  position: relative;
}
.skills .skills-content .right .line::before {
  border-radius: 15px;
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
  left: 0;
  top: 0;
  background: dodgerblue;
}

.skills .skills-content .right .line.python::before {
  width: 70%;
}
.skills .skills-content .right .line.javascript::before {
  width: 60%;
}
.skills .skills-content .right .line.html::before {
  width: 55%;
}
.skills .skills-content .right .line.css::before {
  width: 50%;
}

.skills .skills-content .right .line.mysql::before {
  width: 35%;
}

/* Projects section styling */
.projects {
  color: #fff;
  background: #191919;
}
.projects .title::after {
  background: #191919;
  content: "what i created";
}
.projects .carousel .card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid dodgerblue;
  border-radius: 50%;
  transition: all ease 0.3s;
}
.projects .carousel .card:hover img {
  border: 2px solid rgb(255, 255, 255);
  transition: all ease 0.3s;
}
.projects .carousel {
  display: flex;
}
.projects .carousel .card {
  background: #222;
  border-radius: 9px;
  padding: 25px 35px;
  text-align: center;
  height: 300px;
  transition: all 0.3s ease;
}

.projects .carousel .card:hover {
  transition: all 0.3s ease;
  background: rgb(25, 110, 194);
  color: #fff;
}
.projects .carousel .card:hover .box {
  transition: all 0.3s ease;
  transform: scale(1.05);
}
.projects .carousel .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 10px 0;
  color: #fff;
  transition: all 0.3s ease;
}

.projects .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects .carousel a {
  list-style: none;
  color: #fff;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 25px;
  width: 25px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid dodgerblue !important;
  transition: all ease 0.3s;
}

.owl-dot.active {
  width: 50px;
  border-radius: 14px;
}

.owl-dot:hover,
.owl-dot.active {
  background: dodgerblue !important;
}

/* Contact section Styling */
.contact .title::after {
  content: 'Say "Hello" ';
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .column .text {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
}

.contact .contact-content .left p {
  text-align: justify;
  margin-bottom: 15px;
}
.contact .contact-content .left .icons {
  margin-bottom: 25px;
}
.contact .contact-content .left .icons .row {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact .contact-content .left .icons .row i {
  padding-right: 20px;
  font-size: 25px;
  color: dodgerblue;
}
.contact .contact-content .left .icons .row .info .head {
  font-weight: 600;
  color: rgb(5, 26, 48);
}

.contact .contact-content .right form .fields {
  display: flex;
}
.contact .right form .fields .field,
.contact .right form .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 110px;
}

.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 7px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  resize: none;
}
.contact .right .button-area button {
  padding: 13px 10px;
  background: dodgerblue;
  border-radius: 7px;
  color: #fff;
  font-size: 19px;
  border: 2px solid dodgerblue;
  transition: ease 0.3s all;
  cursor: pointer;
}

.contact .right .button-area button:hover {
  transition: 0.3 all ease;
  background: none;
  border: 2px solid dodgerblue;
  color: dodgerblue;
}

/* Footer Styling */
footer {
  font-weight: 200;
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding: 15px 0px;
  text-align: center;
  background: #121212;
  justify-content: center;
}

footer p {
  color: #fff;
}

footer p span {
  color: dodgerblue;
}
/* Responsive media query*/

@media (max-width: 1216px) {
  .about .about-content .left img {
    width: 350px;
    height: 350px;
    margin-left: 13px;
  }
}
@media (max-width: 1104px) {
  .home .max-width {
    margin-left: 0px;
  }
}
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .max-width {
    padding: 0 50px;
  }
  .navbar .menu {
    position: fixed;
    background-color: rgba(17, 17, 17, 0.993);
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    text-align: center;
    padding-top: 80px;
    transition: all ease 0.3s;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }

  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 50%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }

  .services .serv-content {
    flex-direction: column;
  }

  .services .serv-content .card {
    width: calc(85% - 20px);
    margin-bottom: 25px;
  }
}
@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
    padding: 8px 20px;
  }
  .about .about-content .right a {
    font-size: 20px;
    padding: 8px 20px;
  }
  .skills .skills-content .column {
    width: 100%;
  }
  .skills .skills-content .left {
    margin-bottom: 25px;
  }
  .owl-dot {
    height: 15px;
    width: 15px;
  }

  .owl-dot.active {
    width: 35px;
    border-radius: 14px;
  }
  .contact .contact-content .column {
    width: calc(100% - 0px);
  }
  footer p {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 27px;
  }
  .home .home-content a {
    font-size: 18px;
  }
  .about .about-content .right a {
    font-size: 18px;
    padding: 5px 15px;
  }
}
@media (max-width: 425px) {
  .services .services-button {
    font-size: 17px;
    padding: 12px 0px;
    width: 80%;
    text-align: center;
  }
}
@media (max-width: 370px) {
  .about .about-content .left img {
    width: 260px;
    height: 300px;
  }
  .projects .title::after {
    font-size: 17px;
  }
}
@media (max-width: 330px) {
  .home .home-content .text-2 {
    font-size: 45px;
  }
  .home .home-content .text-3 {
    font-size: 23px;
  }

  .services .serv-content .card {
    height: 290px;
  }
}
