@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
/* ALL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
}

/* NAVIGATION BAR */
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
.navbar {
  padding: 30px 0;
  /* background: dodgerblue; */
  width: 100%;
  z-index: 999;
  position: fixed;
  font-family: "Ubuntu", sans-serif;
  transition: all ease 0.3s;
}
.navbar.sticky {
  padding: 8px 0;
  background: dodgerblue;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  color: dodgerblue;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: rgb(255, 255, 255);
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  /* The mouse change color while moviment*/
  transition: color 0.3s ease;
}

.navbar .menu li a img {
  margin-bottom: -2px;
  width: 20px;
  height: 20px;
  transition: all ease 0.3s;
}

.navbar .menu li a img:hover {
  filter: opacity(0.5) drop-shadow(0 0 0 dodgerblue);
}

/* Color of effetc the mouse */
.navbar .menu li a:hover {
  color: dodgerblue;
}
.navbar.sticky .menu li a:hover {
  color: rgb(221, 221, 221);
}

/* Menu Button Styling */

.menu-btn {
  color: #ffff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* HOME SECTION */

.home {
  color: #fff;
  display: flex;
  background: url("./assets/code03.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 108.9vh;
  min-height: 500px;
  font-family: "Ubuntu" sans-serif;
}

.home .max-width {
  width: 100%;
  display: flex;
}
.home-content {
  font-family: "Ubuntu", sans-serif;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}

.home .home-content .text-3 span {
  color: dodgerblue;
  font-weight: 600;
}

.home .home-content a {
  display: inline-block;
  background: dodgerblue;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid dodgerblue;
  transition: all ease 0.3s;
  font-weight: 200;
}

.home .home-content a:hover {
  color: dodgerblue;
  background: none;
}
/* General Styling */

section {
  padding: 100px 0;
}

section .title {
  position: relative;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}
section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: dodgerblue;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  font-size: 20px;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/* About Section Styling */

.about, .tech {
  background: rgb(255, 255, 255);
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: -50px;
  font-family: "Poppins", sans-serif;
}


.about .title::after{
  content: "Who i am";;
}

.about .about-content, .services .serv-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .right {
  width: 55%;
}

.about .about-content .left img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 15px;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
}

.about .about-content .right .text span {
  color: dodgerblue;
}
.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: dodgerblue;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid dodgerblue;
  transition: all ease 0.3s;
  font-weight: 200;
}
.about .about-content .right a:hover {
  color: dodgerblue;
  background: none;
}

/* Services Styling  */

.services{
  
  color: #fff;
  background: #191919;
}

.services .title::before{
  background: dodgerblue;
}
.services .title::after{
  content: "What i do ?";
  background: #191919;
}

.services .serv-content .card{
  width: calc(33% - 20px);
  background: #252525;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;

}

.services .serv-content .card i{
  font-size: 50px;
  color: dodgerblue;
}


/* Responsive media query start */
@media (max-width: 1216px) {
  .about .about-content .left img {
    width: 350px;
    height: 350px;
    margin-left: 13px;

  }
}
@media (max-width: 1104px) {
  .home .max-width {
    margin-left: 0px;
  }
}
@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  .max-width {
    padding: 0 50px;
  }
  .navbar .menu {
    position: fixed;
    background-color: rgba(17, 17, 17, 0.993);
    width: 100%;
    height: 100vh;
    left: -100%;
    top: 0;
    text-align: center;
    padding-top: 80px;
    transition: all ease 0.3s;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
  }
  .home .home-content .text-2 {
    font-size: 70px;
  }
  .home .home-content .text-3 {
    font-size: 35px;
  }

  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 50%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 100%;
  }
}
@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }

  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
    padding: 8px 20px;
  }
  .about .about-content .right a {
    font-size: 20px;
    padding: 8px 20px;
  }
}
@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 27px;
  }
  .home .home-content a {
    font-size: 18px;
  }
  .about .about-content .right a {
    font-size: 18px;
    padding: 5px 15px;
  }
}

@media (max-width: 370px) {
  .about .about-content .left img {
    width: 260px;
    height: 300px;}
}


@media (max-width: 315px) {
  .home .home-content .text-2 {
    font-size: 45px;
  }
  .home .home-content .text-3 {
    font-size: 23px;
  }
}
